@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 2em;
    margin: .67em 0;
}

.negative-margin {
    margin-top: -10%;
}

@media (max-width: 768px) {
    .negative-margin {
        margin-top: 0;
    }
}
